
* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #63ec85;
  }
  
  .outer_wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .wrapper {
    position: absolute;
    height: calc(100vh - 100px);
    width: 100%;
    top: 0;
  }
  
  .ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(1, 143, 96);
  }
  
  .cat {
    position: absolute;
    bottom: 45px;
    left: 100px;
    height: 1px;
    width: 60px;
    transition: 1.5s;
    transform-origin: center;
    background-color: transparent;
  }
  
  /* body */
  
  .body {
    position: absolute;
    height: 30px;
    width: 60px;
  }
  
  .face_left .body { 
    animation: turn_body_left forwards 0.5s;
  }
  
  @keyframes turn_body_left {
    0%,100% { transform: scale(1); }
    50% { transform: scale(0.5, 1); }
  }
  
  .face_right .body {
    animation: turn_body_right forwards 0.5s;
  }
  
  @keyframes turn_body_right {
    0%,100% { transform: scale(1); }
    50% { transform: scale(0.5, 1); }
  }
  
  /* head */
  .cat_head {
    position: absolute;
    height: 40px;
    width: 48px;
    right: -10px;
    top: -30px;
    transition: 0.5s;
    z-index: 50;
  }
  
  .first_pose .cat_head,
  .face_left .cat_head{ 
    right: 22px;
  }
  
  
  /* tail */
  .tail {
    position: absolute;
    top: -25px;
    height: 36px;
    width: 15px;
    animation: tail_motion forwards 2s;
    transform-origin: bottom right;
  }
  
  @keyframes tail_motion {
    0%,100% { 
      left: -5px;
      transform: rotate(0deg) scale(1); 
    }
    50% { 
      left: -10px;
      transform: rotate(-50deg) scale(-1,1); 
    }
  }
  
  .first_pose .tail ,
  .face_left .tail {
    left: 45px;
    animation: tail_motion_alt forwards 2s;
  }
  
  @keyframes tail_motion_alt {
    0%,100% { 
      left: 45px;
      transform: rotate(0deg) scale(1); 
    }
    50% { 
      left: 40px;
      transform: rotate(50deg) scale(-1,1); 
    }
  }
  
  
  
  /* legs */
  .leg {
    position: absolute;
    height: 20px;
    width: 10px;
    transform-origin: top center;
  }
  
  .front_legs,
  .back_legs {
    position: absolute;
    height: 30px;
    transition: 0.7s;
  }
  
  .front_legs {
    width: 30px;
    right: 0;
  }
  
  .back_legs {
    width: 25px;
    left: 0; 
  }
  
  .face_left .leg svg {
    transform: scale(-1,1);
  }
  
  .face_right .front_legs{ right: 0; }
  
  .first_pose .front_legs,
  .face_left .front_legs{ right: 30px; }
  
  .face_right .back_legs{ left: 0; }
  
  .first_pose .back_legs,
  .face_left .back_legs{ left: 35px; }
  
  .one,
  .three  {
    bottom: -15px;
    right: 0;
  }
  
  .two, 
  .four {
    bottom: -15px;
    left: 0px;
  }
  
  .one.walk, 
  .three.walk {
    animation: infinite 0.3s walk;
  }
  
  .two.walk, 
  .four.walk {
    animation: infinite 0.3s walk_alt;
  }
  
  @keyframes walk {
    0%,100% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
  }
  
  @keyframes walk_alt {
    0%,100% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
  }
  
  
  /* jump */
  .cat_wrapper {
    position: absolute;
    bottom: 0;
  }
  
  .cat_wrapper.jump .one { 
    animation: infinite 0.3s walk;
  }
  
  .cat_wrapper.jump .two { 
    animation: infinite 0.3s walk_alt;
  }
  
  .cat_wrapper.jump .three,
  .cat_wrapper.jump .four {
    animation: none;
  }
  
  .cat_wrapper.jump .cat.face_right .back_legs {
    transform-origin: center;
    transform: rotate(50deg);
  }
  
  .cat_wrapper.jump .cat.face_left .back_legs {
    transform-origin: center;
    transform: rotate(-50deg);
  }
  
  .cat_wrapper.jump .cat.face_right .front_legs {
    transform-origin: center;
    transform: rotate(-60deg);
  }
  
  .cat_wrapper.jump .cat.face_left .front_legs {
    transform-origin: center;
    transform: rotate(60deg);
  }
  
  .cat_wrapper.jump{
    animation: jump forwards 1s;
  }
  
  @keyframes jump {
    0%, 100%  {bottom: 0px;}
    50% {bottom: 200px;}
  }
  
  .jump .face_left{ 
    animation: forwards 0.5s body_stand_left;
    transform-origin: right bottom;
  }
  
  .jump .face_right{ 
    animation: forwards 0.5s body_stand_right;
    transform-origin: left bottom;
  }
  
  @keyframes body_stand_right {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-45deg);}
  }
  
  @keyframes body_stand_left {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(45deg);}
  }
  
  svg {
    height: 100%;
    width: 100%;
  }
  
  polygon.eyes {
    fill: rgb(1, 143, 96);
  }
  
  polygon,
  path {
    fill: white;
  }
  
  .sign {
    position: absolute;
    color: white;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  

























@font-face {
    font-family: 'Hk Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Jost-Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Hk Grotesk', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --black: #000;
    --pink: #ff3258;
    --white: #f0e9f2;
    --white-1: #e5e5e6da;
    --green: #2ECC71 ;


    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;

    --border-light: 1px solid rgb(36, 35, 35);
}

html {
    font-size: 62.5%; 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media(max-width: 1000px) {
    html {
        font-size: 52%;
    }
}

body {
    font-size: var(--font-size-small);
    font-family: var(--font-stack);
    font-weight: 400;
    color: var(--white-1);
    line-height: var(--line-height-normal);
    background: var(--black);
    overflow-x: hidden;
}

.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

@media(max-width: 1340px) {
    .row {
        max-width: 1100px;
    }
}

@media(max-width: 1240px) {
    .row {
        padding: 0 var(--gutter-medium);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-normal);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-small);
    }
}

section {
    padding: var(--gutter-huge) 0;
    border-bottom: var(--border-light);
}

img {
    object-fit: contain;
    max-width: 100%;
}



h1,
h2,
h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);
}

.heading-primary {
    line-height: 1;
    font-size: var(--font-size-huge);
    font-weight: 400;
}

@media(max-width: 900px) {
    .heading-primary {
        font-size: 6.5rem;
    }
}

h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--gutter-medium);
}

h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--green);
    margin: var(--gutter-small) 0;
}

h3 {
    font-size: var(--font-size-medium-1);
    margin-bottom: var(--gutter-small);
}

@media(max-width: 500px) {
    .heading-primary {
        font-size: var(--font-size-large);
    }

    h2 {
        font-size: var(--font-size-medium-1);
    }

    h3 {
        font-size: var(--font-size-medium);
    }
}

p {
    margin: var(--gutter-small-1) 0;
}

@media(max-width: 900px) {
    p { 
        max-width: var(--container-small-width);
    }
}



a {
    color: var(--white);
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    transition: all .2s;
    outline: 2px solid transparent;
}

::-moz-focus-inner {
    border: 0;
}

button:focus,
a:focus {
    outline: 2px solid var(--green);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
    outline: none;
}

.link:hover {
    color: var(--black);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 4.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid  var(--green);
    font-weight: 400;
}

.btn:focus {
    outline: none;
}

.btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--green);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.btn:focus::after {
    right: 0;
    background: var(--green);
}

.btn--pink {
    background: var(--green);
    transition: all 0.2s;
}

.btn--pink::after {
    display: none;
}

.btn--pink:hover,
.btn--pink:focus {
    background: transparent;
}

.link__text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--green);
}

.link__text::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link__text:focus {
    outline: none;
}

.link__text:hover::after,
.link__text:focus:after {
    right: 0;
    background: var(--green);
}

.link__text span {
    padding-left: 1rem;
    font-family: sans-serif;
}



.back-to-top {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: 5.5rem;
    background-color: var(--green);
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
    transition: all .4s;
}

.back-to-top__image {
    height: 70%;
}

@media(max-width: 900px) {
    .back-to-top {
        right: 2rem;
    }
}

@media(max-width: 500px) {
    .back-to-top {
        right: 1rem;
    }
}



.nav {
    display: flex;
    justify-content: flex-end;
    padding: var(--gutter-normal) 0;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: var(--gutter-medium);
}

@media(max-width: 500px) {
    .nav {
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .nav__item:not(:last-child) {
        margin-right: var(--gutter-normal);
    }
}

@media(max-width: 300px) {
    .nav {
        font-size: var(--font-size-small);
    }
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
    color: var(--green);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--green);
}



.header {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('./images/header.gif');
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    font-size: var(--font-size-normal);
}

.header__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__text p {
    margin: 1.5rem 0 3.5rem;
    max-width: var(--container-medium-width);
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-medium);
}

@media(max-width: 500px) {
    .header {
        text-align: center;
    }

    .header__text p {
        transform: scale(.8);
    }
}



.work__box {
    display: flex;
    align-items: center;
}

@media(max-width: 900px) {
    .work__box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.work__box:not(:last-child) {
    margin-bottom: 25rem;
}

@media(max-width: 500px) {
    .work__box:not(:last-child) {
        margin-bottom: 20rem;
    }
}

.work__links {
    display: flex;
    align-items: center;
}

.work__text {
    flex: 0 0 30%;
}

.work__list {
    
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
}

.work__code {
    display: block;
    height: 3rem;
    margin-left: var(--gutter-normal);
    transition: all .3s;
}

.work__code:hover {
    transform: scale(1.2);
}

.work__image-box {
    margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 10rem;
    }
}

@media(max-width: 900px) {
    .work__code {
        height: 4rem;
    }
}



.client__logos {
    display: flex;
    justify-content: space-between;
    filter: invert(100%) grayscale(100%) opacity(.8);
}

.client__logo {
    height: 6.5rem;
    max-width: 18rem;
}

@media(max-width: 1240px) {
    .client__logos {
        overflow-x: scroll;
        padding: var(--gutter-normal);
    }

    .client__logo:not(:last-of-type) {
        margin-right: var(--gutter-medium);
    }
}



.about__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@media(max-width: 900px) {
    .about__content {
        flex-direction: column-reverse;
        align-items: initial;
    }
}

.about__photo-container {
    margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
    .about__text {
        flex: 0 0 35%;
    }
    
    .about__photo-container {
        flex: 1;
        margin: 0 var(--gutter-huge) 0 0;
    }
}



.contact__info {
    max-width: var(--container-medium-width);
}



.footer {
    text-align: center;
    padding: var(--gutter-medium) 0 var(--gutter-normal);
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.footer__social-image {
    height: 4rem;
}

.footer__github-buttons {
    display: flex;
    justify-content: center;
}

.footer__github-buttons iframe {
    height: 2.5rem;
    width: 84px;
    transform: translateY(3px);
}

@media(max-width: 500px) {
    .footer {
        padding: var(--gutter-medium) 0;
    } 
}
